.navbar {
    height: 80px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.logo {
    width: 80px;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    margin: 0 2rem;
}

.nav-menu > li {
    color: #fff;
    font-weight: 400;
    font-family: 'Poppins',sans-serif;
    margin: 0 1rem;
    cursor: pointer;
}

.hamburger {
    display: none;
}

.icon {
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.mobile-menu {
    display: none;
}


@media screen and (max-width: 940px) {
    .hamburger {
        display: block;
        z-index: 99;
    }
    
    .nav-menu {
        display: none;
    }

    .mobile-menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -100vh;
        left: 0;
        justify-content: space-between;
        color: #fff;
        background-color: #241f1d;
        transition: 0.3s;
        text-align: center;
    }

    
    .mobile-menu li {
        padding: 1.2rem 1rem;
        margin: 0 1rem;
        border-bottom: 1px solid #ccc;
    }
    
    .mobile-menu li:hover {
        font-weight: 600;
    }

    .active {
        justify-content: center;
        top: 0;
    }

    .mobile-nav {
        margin: 1rem 0;
    }

}