.statBox {
  width: 250px;
  height: 250px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Archivo", sans-serif;
  margin: 30px;
  transition: 0.3s ease-in;
}

.statBox:hover {
  transform: scale(1.10);
  cursor: pointer;
}

.statBox > h1 {
  color: #ffffff;
}

.statBox > h2 {
  color: #ffffffd0;
  text-transform: uppercase;
  margin-top: 5px;
  font-weight: 500;
}

