.packBox {
    width: 400px;
    height: 450px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--primary-red);
    transition: 0.3s ease-in;
}

.packBox:hover {
    transform: scale(1.10);
    cursor: pointer;
}

.packBox > img {
    width: 100px;
    padding-bottom: 2rem;
}

.packBox > h1 {
    font-family: 'Archivo',sans-serif;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.packBox > h2  {
    font-family: 'Archivo',sans-serif;
    font-weight: 700;
    margin-bottom: 2rem;
}

.packBox > p {
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.packBox > button {
    width: 80%;
    font-size: 24px;
    font-weight: bold;
    margin-top: 1.5rem;
    padding: 10px 0px;
    background-color: var(--primary-red);
    color: #ffffff;
    border: none;
    border-radius: 25px;
    text-transform: uppercase;
    cursor: pointer;
}


@media screen and (min-width: 940px) {
    .packBox {
        flex-direction: column;
    }
}