.ourChef {
  width: 100%;
  height: 100vh;
  background-image: url("../../../public/assets/ourChef-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 100px;
  font-family: "Archivo", sans-serif;
}

.ourChef-txt > h1 {
  color: var(--primary-red);
  font-weight: 600;
  margin-bottom: 2rem;
}

.ourChef-txt > p {
  color: var(--primary-red);
  letter-spacing: 1px;
  font-size: 24px;
}

.ourChef-boxes {
  display: flex;
  padding-top: 150px;
  padding-left: 50px;
}

@media screen and (max-width: 940px) {
  .ourChef {
    height: 100%;
  }

  .ourChef-boxes {
    flex-direction: column;
  }
}
